/*@import './css/tachyons/src/tachyons';*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
}

@media (min-width: 80em) {
    .Home h2 {
        background-color: pink;
        font-size: 1.6rem;
    }
}
